<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB1" connectionString="Server=tcp:geodkpocdmptestsql.database.windows.net,1433;Initial Catalog=DB1;Persist Security Info=False;User ID=DmpLoginOwner;Password=DmpLoginPass17;          MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="DB1ConnectionString" connectionString="Data Source=geodkpocdmptestsql.database.windows.net;Initial Catalog=DB1;User ID=DmpLoginOwner;Password=DmpLoginPass17;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="DB1Entities" connectionString="metadata=res://*/Repositories.DB1Model.csdl|res://*/Repositories.DB1Model.ssdl|res://*/Repositories.DB1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=geodkpocdmptestsql.database.windows.net;initial catalog=DB1;user id=DmpLoginOwner;password=DmpLoginPass17;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB1Entities1" connectionString="metadata=res://*/Models.DB1Model.csdl|res://*/Models.DB1Model.ssdl|res://*/Models.DB1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=geodkpocdmptestsql.database.windows.net;initial catalog=DB1;user id=DmpLoginOwner;password=DmpLoginPass17;multipleactiveresultsets=True;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <!--<system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="http://localhost/dotnetsampleservice/service.svc"/>
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089">
        <trustedIssuers>
          <add thumbprint="c3ab04c6d018029443d90127 29 0b 48 e0 f0 21 ee f2" name="https://login.test.miljoeportal.dk/runtime/services/trust"/>
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  
  -->
  <system.serviceModel>
    <!--<services>
      <service behaviorConfiguration="MyServiceBehavior" name="GeoDKPOCDMPTest.WS1.Service1">
        <endpoint address="" 
                  binding="ws2007FederationHttpBinding" 
                  bindingConfiguration="MyServiceBindingTest"
                  contract="GeoDKPOCDMPTest.WS1.IService1">
          <identity>
            <dns value="dotnetsampleservice-encryption.dk"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding"
       contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <ws2007FederationHttpBinding>

        <binding name="MyServiceBinding" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647"/>
          -->
    <!-- Der bruges message security over HTTP-->
    <!-- 
          <security mode="Message">
            <message>
              <issuerMetadata address="https://log-in.miljoeportal.dk/runtime/services/trust/mex">
                <identity>
                  <dns value="http://log-in.miljoeportal.dk/runtime/services/trust"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>

        <binding name="MyServiceBindingTest" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647"/>
           -->
    <!--Der bruges message security over HTTP-->
    <!-- 
          <security mode="Message">
            <message>
              <issuerMetadata address="https://log-in.test.miljoeportal.dk/runtime/services/trust/mex">
                <identity>
                  <dns value="http://log-in.test.miljoeportal.dk/runtime/services/trust"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpsBinding_IService2">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://geodkpocdmptestws2.azurewebsites.net/Service2.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
        contract="WS2.IService2" name="BasicHttpBinding_IService2" />
     
    </client>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="MyServiceBehavior">
          <serviceCredentials>
             -->
        <!--Identifikation af servicens encryption cert-->
        <!-- 
            <serviceCertificate storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"
                                findValue="dotnetsampleservice-encryption.dk"/>

          </serviceCredentials>
        </behavior>-->
        <behavior>
          <!--To avoid disclosing metadata information, set the values below to false before deployment-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
 
</configuration>