body {
    background:linen;
}

.container{
    width:40%;
    padding: 1em;
    border-radius:0.5em;
    margin: auto;
}

.welcome{
    padding: 1em;
    border-radius:0.5em;
    margin: auto;
}

.nice-blue{
    background:linear-gradient( to top, yellowgreen, lightblue 1em, lightblue 85%,  aliceblue 95%);
    padding:1em;
    margin:0.5em;
    border-radius:.5em;
}

form{
        min-height:15em;
}